@using PhotoProject.Models;
@{
    ViewBag.Title = "Home Page";
    ImageModel[] MenuModel = ViewBag.LayoutModel;
}

<!DOCTYPE html>
<html>
<head>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=265686180159888&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="viewport" content="width=device-width" />

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="/content/supersized.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/content/supersized.shutter.css" type="text/css" media="screen" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery.easing.min.js"></script>

    <script type="text/javascript" src="/scripts/supersized.3.2.7.min.js"></script>
    <script type="text/javascript" src="/scripts/supersized.shutter.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function ($) {

            var model = [@Html.Raw(Json.Encode(MenuModel))][0];
            var Image = { image: "", title: "", thumb: "", url: "" };
            var listOfImages = [];

            model.forEach(function (entry) {
                var currentUrl = entry.imageURL;
                listOfImages.push(
                   { image: currentUrl, title: Image.title, thumb: currentUrl, url: currentUrl });
            });

            $.supersized({

                // Functionality
                slide_interval: 3000,		// Length between transitions
                transition: 1, 			// 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
                transition_speed: 700,		// Speed of transition

                // Components
                slide_links: 'blank',	// Individual links for each slide (Options: false, 'num', 'name', 'blank')
                slides: listOfImages

            });
        });

    </script>

</head>
<style type="text/css">
    ul#demo-block {
        margin: 0 15px 15px 15px;
    }

        ul#demo-block li {
            margin: 0 0 10px 0;
            padding: 10px;
            display: inline;
            float: left;
            clear: both;
            color: #aaa;
            background: url('/content/img/bg-black.png');
            font: 11px Helvetica, Arial, sans-serif;
        }

            ul#demo-block li a {
                color: #eee;
                font-weight: bold;
            }
</style>

<body>
    <div id="fb-root"></div>


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("PhotoGer", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Gallery", "Index", "Gallery")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        <input type="button" class="btn btn-primary btn-xs hideButton" name="buttonHide" value="Hide" id="buttonHide" onclick='hideContent();' />
        @RenderBody()
    </div>
   
    <div id="prevthumb"></div>
    <div id="nextthumb"></div>

    <!--Arrow Navigation-->
    <a id="prevslide" class="load-item"></a>
    <a id="nextslide" class="load-item"></a>


    <div id="thumb-tray" class="load-item">
        <div id="thumb-back"></div>
        <div id="thumb-forward"></div>
    </div>

    <!--Time Bar-->
    <div id="progress-back" class="load-item">
        <div id="progress-bar"></div>
    </div>

    <!--Control Bar-->
    <div id="controls-wrapper" class="load-item">
        <div id="controls">

            <a id="play-button">
                <img id="pauseplay" src="/content/img/pause.png" /></a>

            <!--Slide counter-->
            <div id="slidecounter">
                <span class="slidenumber"></span>/ <span class="totalslides"></span>
                <div style="position: relative; left: 10px; bottom: 12px" class="fb-like " data-href="https://www.facebook.com/pages/Its-All-About-Moments/826036747434571?pnref=lhc.recent" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
                <div style="position: relative; left: 10px; bottom: 12px" class="fb-share-button" data-href="https://www.facebook.com/pages/Its-All-About-Moments/826036747434571" data-layout="button_count"></div>
                <a style="position: relative; left: 10px; bottom: 2px" href="http://instagram.com/it_is_all_about_moments?ref=badge" class="ig-b- ig-b-v-24">
                    <img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>
            </div>

            <!--Slide captions displayed here-->
            <div id="slidecaption"></div>


            <!--Thumb Tray button-->
            <a id="tray-button">
                <img id="tray-arrow" src="/content/img/button-tray-up.png" /></a>

            <!--Navigation-->
            <ul id="slide-list"></ul>

        </div>
    </div>
</body>
</html>

<script>
    function hideContent() {
        $("#divContent").toggle(600);
    }
</script>
