@{
    ViewBag.Title = "PhotoGer";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - It's all about moments</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=265686180159888&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PhotoGer ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="nav2">
                    <li>@Html.ActionLink("Acasa", "Index", "Home")</li>
                    <li>@Html.ActionLink("Prezentare", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    { 
                        <li >@Html.ActionLink("Portofoliu", "Index", "Gallery")
                            <ul id="galleryDropdown" class="nav navbar-nav">
                            </ul>
                        </li>
                       
                    }
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
        <div style="-webkit-column-count: 2;">
            <p>&copy; @DateTime.Now.Year - It's all about moments</p>
            <div style="float: right">
                <div class="fb-like" data-href="https://www.facebook.com/pages/Its-All-About-Moments/826036747434571?pnref=lhc.recent" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
                <div class="fb-share-button" data-href="https://www.facebook.com/pages/Its-All-About-Moments/826036747434571" data-layout="button_count"></div>
                <a style="bottom: 2px" href="http://instagram.com/it_is_all_about_moments?ref=badge" class="ig-b- ig-b-v-24">
                    <img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>

    $.ajax({
        url: "/Gallery/getGalleryNames",
        dataType: "json",
        type: 'POST',
        success: function (result) {
            for (var x = 0; x < result.length; x++) {
                $("#galleryDropdown").append(('<li>@Html.ActionLink("Title", "Action", "Controller")</li>').replace("Title", result[x]).replace("Controller", "EditGallery").replace("Action", "Index/" + result[x]));
            }
        },
        error: function (result) {
        }
    });
</script>
