@model PhotoProject.Models.ImageModel[]

<div style="display:inline-block; vertical-align:middle; text-align:center">
    @for (int i = 0; i < Model.Count(); i++)
    {
        if (Model[0].id != -1) { 
        <div style="display:inline-block; width:200px; margin:20px">
            @Html.Label(Model[i].imageName.Length>25?Model[i].imageName.Substring(0,25):Model[i].imageName)<br />
            <img src="@Url.Content("~/images/uploads/gallery/"+@Model[i].galleryName+"/"+@Model[i].imageName+".jpg")" width="200" onclick="clickImage(this.src);" /><br />
            @Html.ActionLink("Delete", "DeleteImage", "EditGallery", Model[i], null)
        </div>
        }
        else if(Model[0].id==-1)
        {
            <img src="~/images/siteImages/no_image.png" />
        }

    }
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script >
    $(function () {
        var imageFrame = document.getElementById("imageFrame");
        if ('@Model.Count()' == '0') {
            imageFrame.src = "/images/siteImages/no_image.png";
        }
        else {
            if('@Model[0].id' == -1)
            {
                imageFrame.src = "/images/siteImages/no_image.png";
            }
            else{
                var x = "/images/uploads/gallery/"+ @Html.Raw(Json.Encode(Model[0].imageName+".jpg"));
                if(imageFrame!=null)
                imageFrame.src = x;
            }
        }
    });

    function clickImage(imagePath)
    {
        var imageFrame = document.getElementById("imageFrame");
        if(imageFrame!=null)
        {
            imageFrame.src = imagePath;
        }
                      
    }
</script>