@using PhotoProject.Models;
@{
    ViewBag.Title = "Modifica Portofoliu";
    ViewBag.Portofoliu = (@Request.Url.Segments[Request.Url.Segments.Length - 1] != "EditGallery") ? @Request.Url.Segments[Request.Url.Segments.Length - 1] : string.Empty;
}

<h2>@ViewBag.Title @ViewBag.Portofoliu</h2>

@using (Html.BeginForm("Upload", "EditGallery", new { id = @ViewBag.Portofoliu }, FormMethod.Post,
                                      new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="fileUpload btn btn-primary">
            <span>Selecteaza fisier</span>
            <input type="file" id="uploadBox" name="file" class="upload" />
        </div>


        <div id="uploadDiv" class="fileUpload btn btn-primary">
            <span>Incarca fisier</span>
            <input type="submit" id="uploadFile" value="Upload" class="upload" />
        </div>

    </fieldset>

    Html.RenderPartial("~/Views/EditGallery/_ImageItem.cshtml");
}

<div id="deleteGalleryButton" class="fileUpload btn btn-primary">
    <span>Sterge portofoliu</span>
    <input type="submit" id="deleteGallery" value="deleteGallery" name="file" class="upload" onclick="deleteGallery('@ViewBag.Portofoliu')"/>
</div>    

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#uploadDiv').hide();

        if('@ViewBag.Portofoliu'=='')
        {
            $('#deleteGalleryButton').hide();            
        }
        else $('#deleteGalleryButton').show();
    });

    $('#uploadBox').change(function () {
        if ($('#uploadBox').val() != "") {
            $('#uploadDiv').show();
        }
        else {
            $('#uploadDiv').hide();
        }
    });    

    function deleteGallery(galleryName) {        
        $.ajax({
            url: "/EditGallery/deleteGallery",         
            data: { galleryName : galleryName },
            type: 'POST',
            success: function (result) {
                window.location.href ="/Gallery";
                alert("Portofoliul a fost sters");
            },
            error: function (result) {
                alert("Eroare: Portofoliul contine fotografii. \nStergeti fotografiile inainte sa stergeti portofoliul!");
            }
        });
    }

</script>
